
	
	<h1>Formatting<button class="button-close" data-window-command="closeWindow"></button></h1>

	<div class="showOnNoSelection section">Nothing selected to be formatted</div>
	
	<div class="showOnSelection section">
		
		<div style="overflow: hidden;">
			<div style="float: left;">
				<label>Background color</label><br/>
				<input type="text" data-spectrum-flat="true" data-formatting-inputtype="color" data-formatting="background-color" value="#000000" />
			</div>

			<div style="float: left;">
				<label>Text color</label><br/>
				<input  data-spectrum-flat="true" data-formatting-inputtype="color" data-formatting="color" value="" />
			</div>
		</div>
		
		<div style="overflow: hidden;">
			<label>Font weight</label> 
			<select style="width:100px;" data-formatting-inputtype="text" data-formatting="font-weight">
				<option value=""></option>
				<option value="normal">Normal</option>
				<option value="bold">Bold</option>
				<option value="bolder">Bolder</option>
				<option value="lighter">Lighter</option>
				
				<option value="100">100</option>
				<option value="200">200</option>
				<option value="300">300</option>
				<option value="400">400</option>
				<option value="500">500</option>
				<option value="600">600</option>
				<option value="700">700</option>
				<option value="800">800</option>
				<option value="900">900</option>
			</select>
			
			<label>Font size</label> 
			<select style="width:100px;" data-formatting="font-size">
				<option value="12px">12px</option>
				<option value="14px">14px</option>
				<option value="20px">20px</option>
			</select>
			
			<label>Font family</label> 
			<select style="width:300px;" data-formatting="font-family">
				<option value=""></option>
				<option value="arial">Arial</option>
				<option value="tahoma">Tahoma</option>
				<option value="verdana">Verdana</option>
				<option value="consolas">Consolas</option>
			</select>
			

		</div>
	</div>