	<h1>Selection</h1>
	<table class="propertiesWindow" cellspacing=0 cellpadding=0>
		<thead>
			<th style="width: 100px;">Property</th> <th>Value</th>
		</thead>
		
		<tbody>
			<tr><td>Column Header</td>	<td><input data-property-context="column" data-property-field="header.text" /></td></tr>
			<tr><td>Column Formula</td>	<td><input data-property-context="column" data-property-field="formula" /></td></tr>
			<tr><td>Data Type</td>	<td>
				<select data-property-context="column" data-property-field="type" style="width: 100%;">
					<option></option>
					<option value="text">Text (default)</option>
					<option value="date">Date</option>
					<option value="number">Number</option>
				</select>
			</td></tr>
			<tr><td>Column Format</td>	<td><input data-property-context="column" data-property-field="format" /></td></tr>
			<tr class="readonly"><td>DataSource</td>	<td><input data-property-context="table" data-property-field="dataSource" readonly /></td></tr>
		</body>
	</table>