	<ul>
		<li><a data-command="bi.document.wipe" href='javascript:void(0);'>New Document</a></li>
		<li><hr /></li>
		<li><a data-command="bi.document.displayOpen" href='javascript:void(0);'>Open a saved report</a></li>
		<li><a data-command="bi.document.save" href='javascript:void(0);'>Save changes</a></li>
		<li><hr /></li>
		<li><a data-command="bi.document.print' href='javascript:void(0);">Print</a></li>
	</ul>