	<ul class='selectedColumnOnly'>
		<li><label>Column Options</label></li>
		<li><a data-command="bi.selectedColumn.Copy" href='javascript:void(0);'>Copy column</a></li>
		<li><a data-command="bi.selectedColumn.Remove" href='javascript:void(0);'>Remove Column</a></li>
		<li><hr /></li>
		<li><a data-command="bi.selectedColumn.sortAscending" href='javascript:void(0);'>Sort Ascending</a></li>
		<li><a data-command="bi.selectedColumn.sortDescending" href='javascript:void(0);'>Sort Descending</a></li>
		<li><hr /></li>
		<li><a data-command="bi.selectedColumn.showFormatDialog" href='javascript:void(0);'>Format Column</a></li>
	</ul>
	<ul>
		<li><label>Table Options</label></li>
		<li><a data-command="bi.selectedTable.Copy" href='javascript:void(0);'>Copy whole Table</a></li>
		<li><a data-command="bi.selectedTable.Delete" href='javascript:void(0);'>Delete Table</a></li>
		<li><hr /></li>
		<li><a data-command="bi.selectedTable.showFormatDialog" href='javascript:void(0);'>Format Table</a></li>
	</ul>