html { height: 100%; }
body {
	background-image: url(../img/page.bg.jpg);
}

div.content { position: fixed; overflow: scroll; }

.formulaBar {
	width: 400px;
	font-family: Lucida Console;
	padding: 2px;
}

div.menuBar {
	font-family: verdana;
	font-size: 12px;
	background-color: #DCE4E8;
	border-top: 1px solid #BFCFD9;
	z-index: 900;
	position: fixed;
	padding: 0px;
	left: 0px;
	right: 0px;
}

div.toolBar {
	font-family: verdana;
	font-size: 0px;
	border-top: 1px solid #99B1BF;
	z-index: 850;
	position: fixed;
	padding: 0px;
	left: 0px;
	right: 0px;
	box-shadow: -2px -1px 3px #888;
	line-height: 18px;
	
	overflow: hidden;
}


div.toolBar.bottom { 
	bottom: 0px; 
	background: -moz-linear-gradient(top, rgba(136,191,232,0.74) 0%, rgba(120,181,227,0.74) 66%, rgba(113,177,224,1) 96%, rgba(112,176,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,191,232,0.74)), color-stop(66%,rgba(120,181,227,0.74)), color-stop(96%,rgba(113,177,224,1)), color-stop(100%,rgba(112,176,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(136,191,232,0.74) 0%,rgba(120,181,227,0.74) 66%,rgba(113,177,224,1) 96%,rgba(112,176,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(136,191,232,0.74) 0%,rgba(120,181,227,0.74) 66%,rgba(113,177,224,1) 96%,rgba(112,176,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(136,191,232,0.74) 0%,rgba(120,181,227,0.74) 66%,rgba(113,177,224,1) 96%,rgba(112,176,224,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(136,191,232,0.74) 0%,rgba(120,181,227,0.74) 66%,rgba(113,177,224,1) 96%,rgba(112,176,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */
	box-shadow: -2px -1px 3px #888;
}
div.toolBar.top { 
	top: 0px; 
	background: -moz-linear-gradient(top, rgba(136,191,232,0.74) 0%, rgba(120,181,227,0.74) 66%, rgba(113,177,224,1) 96%, rgba(112,176,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,191,232,0.74)), color-stop(66%,rgba(120,181,227,0.74)), color-stop(96%,rgba(113,177,224,1)), color-stop(100%,rgba(112,176,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(136,191,232,0.74) 0%,rgba(120,181,227,0.74) 66%,rgba(113,177,224,1) 96%,rgba(112,176,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(136,191,232,0.74) 0%,rgba(120,181,227,0.74) 66%,rgba(113,177,224,1) 96%,rgba(112,176,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(136,191,232,0.74) 0%,rgba(120,181,227,0.74) 66%,rgba(113,177,224,1) 96%,rgba(112,176,224,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(136,191,232,0.74) 0%,rgba(120,181,227,0.74) 66%,rgba(113,177,224,1) 96%,rgba(112,176,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-9 */
	box-shadow: 2px 1px 3px #888;
}

div.toolBar button {
	background-color: white;
	border: 1px solid transparent;
	border-right: 1px solid #BFCFD9;
	padding: 4px;
	margin: 0px;

	font-size: 12px;
	display: block-inline;
}

div.toolBar button:hover {
	background-color: #BFCFD9;
	border: 1px solid #BFCFD9;
}div.toolBar button:active, div.toolBar button.biContextMenu-selected {
	background-color: #A3BBC9;
	border: 1px solid #A3BBC9;
	color: white;
}
div.toolBar div.label {
	padding: 2px;
	margin-right: 20px;
	float: left;
	background-color: white;
	margin-right: 1px;
	border: 1px solid #BFCFD9;
	font-size: 11px;
}
div.toolBar div.right { float: right; }
div.toolBar div.panel { width: 100%; }



div.window {
	border: 1px solid #071E36;
	width: 250px;
	position: fixed;
	box-shadow: 2px 2px 5px #888888;
	background-color: white;
	font-family: tahoma;
	font-size: 12px;
	z-index: 900;
}

.window .section {
	padding: 10px;
}

div.window h1{
	margin: 0px;
	border: 1px solid #071E36;
	background-color: #071E36;
	color: white;
	padding: 4px;
	display: block;
	font-weight: bold;
	font-size: 14px;
	cursor: default;
}
div.window h2{
	margin: 0px;
	display: block;
	font-weight: bold;
	cursor: default;
	font-size: 14px;
}

div.window h3{
	margin: 0px;
	border: 1px solid #546F8C;
	background-color: #546F8C;
	color: white;
	padding: 3px 3px 3px 11px;
	display: block;
	font-weight: normal;
	cursor: default;
	font-size: 14px;
}

div.window .button-close { float: right; color: white; border: 1px solid #4F769E; margin: -2px; background: url(../img/x.png) #B4C6D8 1px 1px; width: 20px; height: 20px; border-radius: 2px; }
div.window .button-close:hover { background-color: #E6C5C5;}

table.propertiesWindow {
	width: 100%;
	color: #3D4E5C;
}
table.propertiesWindow th {
	background-color: #3D4E5C;
	font-size: 11px;
	color: white;
	padding: 3px;
}
table.propertiesWindow td:first-child {
	background-color: #DCDEE0;
	font-size: 11px;
}
table.propertiesWindow td {
	padding: 3px;
	border-bottom: 1px solid #DCDEE0;
}
table.propertiesWindow td input{
	font-size: 12px;
	font-family: Lucida Console;
	padding: 3px;
	margin: 0;
	border: 1px solid transparent;
}
table.propertiesWindow td input:focus {
	outline: none;
	border: 1px solid #627194;
}
tr.readonly td, tr.readonly td input {
    color: #808080;
}


@media print 
{
	div.content { position: inherit; overflow: hidden; }
}