div.biTable {
	padding: 7px;
	border: 1px solid transparent;
	position: absolute;

	font-family: tahoma;
	font-size: 12px;
}
div.biTable p {
	padding: 0;
	margin: 0;
}

div.biTable:hover {
	border: 1px dashed #919191;
	z-index: 9999;
	background-color: #D5DBE0;
}

div.biTable table {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	background-color: white;
	border-collapse: collapse;
	border: 1px solid #6B6B6B;
}

div.biTable table td.selected {
	background-color: #E9EFF2 !important;
	border: 1px dashed grey !important;
	color: black !important;
}
div.biTable table td {
	border: 1px inset #D1D1D1;
	font-size: 14px;
	padding: 3px;
	background-color: white;
	color: #2D406E;
}
div.biTable table th {
	border: 1px solid #6B6B6B;
	background-color: #406E8F;
	color: white;
	font-size: 13px;
	padding: 5px;
}

div.biTable table th span.select {
	width: 15px;
	position: absolute;
	height: 100%;
	font-size: 1px;
	opacity: 0.1;
	
}
div.biTable table	 th span.select.left { float: left; }
div.biTable table	 th span.select.left.available { background-color: #BFBFBF; }
div.biTable table	 th span.select.left.available.hover { background-color: #3A7EB5; opacity: 0.5;}

div.biTable table	 th span.select.right { float: right; }
div.biTable table	 th span.select.right.available { background-color: #BFBFBF; }
div.biTable table	 th span.select.right.available.hover { background-color: #3A7EB5; opacity: 0.5;}

div.biTable div.handle {
	background-color: #d8d8d8;
}




div.biFields div.list {
	overflow: auto;
	height: 50%;
	width: 100%;
}

div.biFields ul {
	list-style-type: none;
	margin: 0;
	padding: 3px;
}
/*
div.biFields ul li div{
	padding: 1px 3px 1px 3px;
	border: 1px solid #F0F0F0;
	background-color: #F5F5F5;
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}
div.biFields ul li div:hover {
	border: 1px solid #D1DCE6;
	background-color: #D1DCE6;
	cursor: pointer;
}
*/







div.biContextMenu {
	border: 1px solid #8C8C8C;
	width: 200px;
	position: fixed;
	box-shadow: 2px 2px 5px #888888;
	z-index: 999993;
	background-color: white;
	font-size: 12px;
	color: black;
	font-family: verdana;
}
div.biContextMenu label {
	padding: 5px 10px 5px 10px;
	border: 1px solid #BFBFBF;
	color: white;
	font-weight: bold;
	background-color: #616E78;
	margin: 1px;
	white-space: nowrap;
	display: block;
}
div.biContextMenu hr {
	margin: 0px;
	padding: 0px;
	background-color: #BFBFBF;
	border: 1px solid #BFBFBF;

}
div.biContextMenu a {
	font-size: 12px;
	color: black;
	font-family: verdana;
	text-decoration: none;
}

div.biContextMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.biContextMenu ul li a{
	padding: 5px 10px 5px 10px;
	border: 1px solid #fff;
	background-color: #fff;
	
	margin: 1px;
	white-space: nowrap;
	display: block;
}
div.biContextMenu ul li a:hover {
	border: 1px solid #BFBFBF;

	background-color: #F0F0F0;
	cursor: pointer;
}

div.biContextMenu h1{
	margin: 0px;
	border: 1px solid #071E36;
	background-color: #071E36;
	color: white;
	padding: 10px;
	display: block;
	font-weight: bold;
	font-size: 18px;
	cursor: default;
}
div.biContextMenu h2{
	margin: 0px;
	border: 1px solid #18406B;
	background-color: #18406B;
	color: white;
	padding: 5px;
	display: block;
	font-weight: bold;
	cursor: default;
	font-size: 14px;
}



/* 
 * dragtable
 *
 * @Version 2.0.0
 *
 * default css
 *
 */
/*##### the dragtable stuff #####*/
.dragtable-sortable { 
    list-style-type: none; margin: 0; padding: 0; -moz-user-select: none;
}
.dragtable-sortable li {
    margin: 0; padding: 0; float: left; font-size: 1em; background: white; 
}

.dragtable-sortable th{
	text-align: center;
}

.dragtable-sortable li:first-child th, .dragtable-sortable li:first-child td {
    border-left: 1px solid #CCC; 
}

.ui-sortable-helper {
    opacity: 0.7;filter: alpha(opacity=70);
}
.ui-sortable-placeholder { 	
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    visibility: visible !important;
    background: #EFEFEF !important; 
    visibility: visible !important;
}
.ui-sortable-placeholder * { 
    opacity: 0.0; visibility: hidden; 
}




@media print 
{
    .noPrint 
    {
        display:none;
    }
}