	<div class="panel">
		<button id="btnRefresh" data-command='bi.refreshAllData' value="refresh">Refresh</button>
		
		<button id="btnScreenshot" value="screenshot">Take Screenshot</button>
		<button id="btnTestOO" value="screenshot">Test OO</button>
		
		<div class="label right"><strong>Not Saved</strong></div>
		<div class="label right">Developers Edition</div>
		<div class="label right">
			<strong>Last refresh</strong>
			<span data-label="lastRefreshTimeago"></span>
		</div>
	</div>
	
	<script>
		$('#btnScreenshot').click( function() {
				html2canvas(
					$('.content'), {
						onrendered: function(canvas) {
							$('#thumbnail').html("<img src='"+canvas.toDataURL("image/png")+"' style='height: 40px;' alt='from canvas'/>");
						}
			});
		});

		$('#btnTestOO').click( function() {
			tblTest = $('#biTable1').biTable("v");
			console.log(tblTest.dataSource());
		});
	</script>