	<div style="float: right;" id="thumbnail"></div>
	
	<div class="panel">
		<button onClick='bi.showMenu("File", this);' value="refresh">File</button>
		<button onClick='bi.showMenu("Edit", this);' value="refresh">Edit</button>
		<button onClick='bi.showMenu("Format", this);' value="refresh">Format</button>
		<button onClick='bi.showMenu("Data", this);' value="refresh">Data</button>
		<button onClick='bi.showMenu("Help", this);' value="refresh">Help</button>
	</div>
	
	<div class="panel">
		<div class="label"><strong>Selected:</strong> nothing</div>
		
	</div>

	<input id="formulaBar" class="formulaBar" />
	